*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
    overflow-x: hidden;
    
}

.nav-bar{
    background-image: url('./images/home-banner.png');
    height: 457px;
}

.home_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home_nav_bar ul {
    display: flex;
    
}

.home_nav_bar ul li{
    margin-left:100px;
    list-style-type: none;

}

.home_nav_bar ul li a{
    text-decoration: none;
    color:black;
    font-family: 'Open Sans';
    font-weight: bold;
    transition:.3s;
}

.home_nav_bar ul li a:hover{
    color:#DC143C;
    transition: .3s;
}

.user_icons i{
    margin-left:30px;
    cursor:pointer;
}

.heading{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h1{
    width:423px;
    margin-top:20px;
    font-size:40px;
    letter-spacing: 1px;
}

.heading p{
    margin-top:15px;
    color:grey;
    font-weight: bold;
    
}

.button_heading{
    width:423px;
    margin-top:35px;
}

.button_heading button{
    font-family: 'Open Sans';
    background-color: #DC143C;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.button_heading button a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    cursor:pointer;
}

.information{
    margin-top:100px;
    margin-left:30px;
}

.info{
    background-color: #fff;
    margin-top:30px;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.info_1{
    margin-left:130px;
    background-color:#F8F8FF;
    border-radius: 0px 20px 0px 20px;
    padding: 20px;
    width: 350px;
    text-align: center;
}

.info_1 p{
    margin-top:10px;
    font-weight: bold;
}

.about{
    display: flex;
    align-items: center;
    margin-left:200px;
    margin-top:30px;
}

.about_food h1{
    margin-top:20px;
}

#assured {
    margin-top:20px;
    color:gray;
    font-weight: bold;
    line-height: 25px;
}

#red_about{
    color:#DC143C;
    font-weight: bold;
}

.enjoy{
    margin-top:40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    align-items: center;
    background-color:#F8F8FF;
}

.infor{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-top:70px;
}

.steps{
    background-color: #fff;
    padding:40px;
    border-radius: 15px;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps p{
    margin-top:20px;
}

.compare{
    margin-top:120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compare_words{
    line-height:55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare_words p{
    font-size:23px;
}

.compare_words button{
    margin-top:20px;
    padding:10px;
    width:15%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    border:none;
    background-color: #DC143C;
    color:#fff;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Open Sans';
    cursor:pointer;
}

#hr{
    margin-top:50px;
}

/* -------------------------------------------------------------------------------- */ 


.google{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:120px;
    
}

.download{
    margin-left:70px;
    font-size:20px;
}

#span{
    font-size: 35px !important;
}

.appimages{
    margin-top:20px;
    display: flex;
}

.appimages img{
    cursor:pointer;
}

.appimages img:last-child{
    margin-left:20px;
}


.customer{
    height: 600px;
    background-color: #f7f7f7;
    padding-top: 80px;
    
}


.feedback{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.feedback h1{
    letter-spacing: 1.5px;
}

.cust_buttons{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
}

.cust_buttons i{
    cursor:pointer;
}

.rec{
    display: flex;
    margin-top:40px;
    justify-content: space-evenly;
    width: 150%;
}

.guests{
    background-color: #fff;
    padding:45px;
    border-radius: 20px;
}

.guests :first-child{
    color:gray;
    font-weight: bold;
    line-height: 25px;
}

.guests :last-child{
    margin-top:20px;
    text-align: center;
    color:#DC143C;
    font-weight: bold;
}

.free{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:80px;
}

.free_head p{
    margin-top:6px;
    font-size:30px;
}

.partner{
    width: 400px;
    display: flex;
    justify-content: flex-end;

}

.partner button{
    padding:15px;
    background-color: #DC143C;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    border:none;
    border-radius: 15px;
    color:#fff;
    letter-spacing: 1px;
    cursor: pointer;

}

.footer{
    display: flex;
   justify-content: center;
    margin-top:100px;
    color:gray;
    font-size:14px;
    line-height: 30px;
    
}

.footer ul{
    margin-right: 150px;

}

.footer ul li{
    cursor: pointer;
}



.footer ul li{
    list-style-type: none;
}

.footer ul li:first-child{
    color:#DC143C;
    font-weight: bold;
}

/* FOOD VIEW PAGE */


.headingg{
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;
    height: 200px;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 5px;
    height: 350px;
}

.headingg h1{
    border-bottom: 5px solid #DC143C;
    border-radius: 5px;
    padding: 10px;

}

.soup_head h1{
    font-size:40px;
    margin-left:50px;
    margin-top:50px;
    letter-spacing: 2px;
    font-style: italic;
    border-bottom: 3px solid #DC143C;
    padding:10px;
    width:120px;
    border-radius: 5px;
}

.soup{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    background-color: #f7f7f7;
    padding:50px;
}

.soup_card{
    background-color: #fff;
    padding:50px;
    text-align: center;
    border-radius:20px;
    filter: drop-shadow(0 0 0.75rem gray);
    transition: .4s ease-in-out;
    cursor: pointer;
   
}

.soup_card:hover{
    filter: drop-shadow(0 0 0.75rem #DC143C);
    transition: .4 ease-in-out;
}

.soup_card p{
    margin-top:10px;
    font-weight: bold;
    font-style: italic;
    font-size:18px;
}

.adoni button{
    padding:8px;
    color:#fff;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    font-weight: bold;
    border:none;
    background-color: #DC143C;
    margin-top:20px;
    width:80px;
    border-radius: 0px 10px 0px 10px;
    cursor: pointer;

}


.burger_head h1{
    font-size:40px;
    margin-left:30px;
    margin-top:50px;
    letter-spacing: 2px;
    font-style: italic;
    border-bottom: 3px solid #DC143C;
    padding:10px;
    width:180px;
    border-radius: 5px;
}

.burger{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    background-color: #f7f7f7;
    padding:50px;
}

.burger_card{
    background-color: #fff;
    padding:50px;
    text-align: center;
    border-radius:20px;
    filter: drop-shadow(0 0 0.75rem gray);
    transition: .4s ease-in-out;
    cursor: pointer;

}

.burger_card:hover{
    filter: drop-shadow(0 0 0.75rem #DC143C);
    transition: .4 ease-in-out;
}

.burger_card p{
    margin-top:10px;
    font-weight: bold;
    font-style: italic;
    font-size:18px;
}

.adonii button{
    padding:8px;
    color:#fff;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    font-weight: bold;
    border:none;
    background-color: #DC143C;
    margin-top:20px;
    width:80px;
    border-radius: 0px 10px 0px 10px;
    cursor: pointer;

}


